<h1><em>About Us</em></h1>

<p>
This social application of U.S. weight statistics is the brainchild of Carnegie
Mellon professors Dr. Paul Fischbeck and Dr. Chad Schafer. Fischbeck and Schafer partnered with the
Carnegie Mellon Information Systems program to engineer the site.
</p>
<p>
  <strong>Paul S. Fischbeck, Ph.D., </strong>is a Professor of Engineering and Public Policy and of Social and Decision Sciences and the Director of CSIR at Carnegie Mellon University. He has extensive experience as a risk analyst studying complex engineered systems in general (space shuttle and off-shore oil platforms) and transportation systems specifically (school transportation).
</p>
<p>
  <strong>Chad Schafer, Ph.D., </strong>is an Associate Professor of Statistics at Carnegie Mellon University.
</p>
<p>
  <strong>Carnegie Mellon University Student Team: </strong>An Information Systems Program student research team consisting of Won Ku Kim, Patrick Conaboy, Yiming Zhang, Rashid Alkaabi, and Zach Stockwell were responsible for the design and development of the application.
</p>
<p>
  <strong>Randy S. Weinberg, Ph.D., </strong>is an Teaching Professor and the Director of the Information Systems program at Carnegie Mellon University. Dr. Weinberg served as Information Systems faculty liaison for the student team and was instrumental in stewarding the student team through the process.
</p>