<h1>Contact BMI DSS</h1>

<p>
        <strong>Paul Fischbeck, Ph.D.</strong><br>
         Department of Social and Decision Sciences<br>Carnegie Mellon University<br>208F Porter Hall<br>5000 Forbes Avenue<br>Pittsburgh, PA 15213<br>Phone: 412.268.3240<br>
        <a href="mailto:pf12@andrew.cmu.edu">pf12@andrew.cmu.edu</a>
</p>

<br>

<p>
         <strong>Chad Schafer</strong><br>
        XXXXXXXXXXXXXXXXXX<br>Carnegie Mellon University<br>208F Porter Hall<br>5000 Forbes Avenue<br>Pittsburgh, PA 15213<br>Phone: 412.XXX.XXXX<br>
        <a href="mailto:cschafer@andrew.cmu.edu">cschafer@andrew.cmu.edu</a>
</p>
	